#ignore .sbatch files
*.sbatch

# Ignore .npy files
*.npy

#ignore .out files
*.out

# Ignore common system files
.DS_Store
Thumbs.db

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment and log files
*.log
*.env

#ignore data
path/to/data/
